<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="demo1-3">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.059269 -0.004969 0.17749"
        rpy="0 0 0" />
      <mass
        value="1.746" />
      <inertia
        ixx="0.0029237"
        ixy="3.8969E-05"
        ixz="-6.1279E-19"
        iyy="0.0063175"
        iyz="9.5233E-20"
        izz="0.0062493" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_Link">
    <inertial>
      <origin
        xyz="0.0022355 0.01995 -0.00025958"
        rpy="0 0 0" />
      <mass
        value="0.071103" />
      <inertia
        ixx="1.4695E-05"
        ixy="-5.6331E-22"
        ixz="-2.0294E-22"
        iyy="2.6451E-05"
        iyz="-5.6257E-22"
        izz="3.0622E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/front_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/front_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="line_joint"
    type="fixed">
    <origin
      xyz="0.077552 -0.17785 0.016113"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>